<!-- <!DOCTYPE html>
<head>
    <title> Total Bills</title>
    
    
</head>

<body>

    <div class="heads">
  <nav class="navbar navbar-default" id="heads">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/land"> <div class="navhead">Farm Bills</div></a>
        <img class="logo" src="images/Mohanty Farms.png" height="50px"  > 
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right" id="heads">
             
                -->
<!DOCTYPE html>
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>Welcome to Farm Bills</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/stylesheets/layout.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!-- <link href="/stylesheets/main.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet"> -->
   
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="fl_left">
      <ul class="nospace">
        <li><a href="/"><i class="fa fa-home fa-lg"></i></a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
      </ul>
    </div>
    <div class="fl_right">
      <ul class="nospace">
        <li><i class="fa fa-phone rgtspace-5"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope rgtspace-5"></i> info@domain.com</li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################
    <div id="logo" class="one_quarter first">
      <h1><a href="index.html"> <img src="/images/logo.jpg" height="30px"></a></h1>
      
    </div>
    <div class="one_quarter"><strong><i class="fa fa-phone rgtspace-5"></i> Call Us:</strong> +00 (123) 456 7890</div>
    <div class="one_quarter"><strong><i class="fa fa-clock rgtspace-5"></i> Mon. - Sat.:</strong> 08.00am - 18.00pm</div>
  -->
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <nav id="mainav" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul class="clear">
      <li class="active"><a href="/">Home</a></li>
      <li><a class="drop" href="#">Properties</a>
        <ul>
          <li><a href="/land">All Properties</a></li>
          <li><a href="/land/add">Add New Property</a></li>
          <!-- <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
          <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
          <li><a href="pages/basic-grid.html">Basic Grid</a></li>
          <li><a href="pages/font-icons.html">Font Icons</a></li> -->
        </ul>
      </li>
      <li><a class="drop" href="#">Employees</a>
        <ul>
          <li><a href="/employee">View All Employees</a></li>
          <li><a href="/employee/add">Add New Employee</a></li>
          <li><a class="drop" href="#">Accounts</a>
            <ul>
              <li><a href="/wage">View Records</a></li>
              <li><a href="/wage/add">Add New Record</a></li>
            </ul>
          </li>
          
        </ul>
      </li>
      <li><a class="drop" href="#">Workers</a>
        <ul>
          <li><a href="/worker">View All Workers</a></li>
          <li><a href="/worker/add">Add New Worker</a></li>
          <li><a class="drop" href="#">Accounts</a>
            <ul>
              <li><a href="/wage">View Records</a></li>
              <li><a href="/wage/add">Add New Record</a></li>
            </ul>
          </li>
          
        </ul>
      </li>
      <li><a class="drop" href="#">Transactions</a>
        <ul>
          <li><a href="/bill">View Records</a></li>
          <li><a href="/bill/add">Add New Transaction</a></li>
          <!-- <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
          <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
          <li><a href="pages/basic-grid.html">Basic Grid</a></li>
          <li><a href="pages/font-icons.html">Font Icons</a></li> -->
        </ul>
      </li>
      <!-- <li><a href="#">Link Text</a></li>
      <li><a href="#">Link Text</a></li>
      <li><a href="#">Long Link Text</a></li> -->
    </ul>
    <!-- ################################################################################################ -->
  </nav>
</div>

