<!DOCTYPE html>
<head>
    <title> Total Bills</title>
    <link href="/stylesheets/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
   
</head>

<body>
    <!-- THIS IS THE HEADER -->
    <div class="heads">
  <nav class="navbar navbar-default" id="heads">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/land"> <div class="navhead">Farm Bills</div></a>
        <img class="logo" src="images/Mohanty Farms.png" height="50px"  > 
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right" id="heads">
             
               
