<!DOCTYPE html>
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>Welcome to Farm Bills</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/stylesheets/layout.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="fl_left">
      <ul class="nospace">
        <li><a href="/"><i class="fa fa-home fa-lg"></i></a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
      </ul>
    </div>
    <div class="fl_right">
      <ul class="nospace">
        <li><i class="fa fa-phone rgtspace-5"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope rgtspace-5"></i> info@domain.com</li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- <div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ 
    <div id="logo" class="one_quarter first">
      <h1><a href="/">Bistup</a></h1>
      <p>Vestibulum amet</p>
    </div>
    <div class="one_quarter"><strong><i class="fa fa-phone rgtspace-5"></i> Call Us:</strong> +00 (123) 456 7890</div>
    <div class="one_quarter"><strong><i class="fa fa-clock rgtspace-5"></i> Mon. - Sat.:</strong> 08.00am - 18.00pm</div>
 
    <!-- ################################################################################################ 
  </header>
</div> -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <nav id="mainav" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul class="clear">
      <li class="active"><a href="/">Home</a></li>
      <li><a class="drop" href="#">Properties</a>
        <ul>
          <li><a href="/land">All Properties</a></li>
          <li><a href="/land/add">Add New Property</a></li>
          <!-- <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
          <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
          <li><a href="pages/basic-grid.html">Basic Grid</a></li>
          <li><a href="pages/font-icons.html">Font Icons</a></li> -->
        </ul>
      </li>
      <li><a class="drop" href="#">Employees</a>
        <ul>
          <li><a href="/employee">View All Employees</a></li>
          <li><a href="/employee/add">Add New Employee</a></li>
          
          
        </ul>
      </li>
      <li><a class="drop" href="#">Workers</a>
        <ul>
          <li><a href="/worker">View All Workers</a></li>
          <li><a href="/worker/add">Add New Worker</a></li>
          <li><a class="drop" href="#">Accounts</a>
            <ul>
              <li><a href="/wage">View Records</a></li>
              <li><a href="/wage/add">Add New Record</a></li>
            </ul>
          </li>
          
        </ul>
      </li>
      <li><a class="drop" href="#">Transactions</a>
        <ul>
          <li><a href="/bill">View Records</a></li>
          <li><a href="/bill/add">Add New Transaction</a></li>
          <!-- <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
          <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
          <li><a href="pages/basic-grid.html">Basic Grid</a></li>
          <li><a href="pages/font-icons.html">Font Icons</a></li> -->
        </ul>
      </li>
      <!-- <li><a href="#">Link Text</a></li>
      <li><a href="#">Link Text</a></li>
      <li><a href="#">Long Link Text</a></li> -->
    </ul>
    <!-- ################################################################################################ -->
  </nav>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('/images/cover.jpg');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
      <p>Welcome to</p>
      <h3 class="heading">Farm Bills</h3>
      <p> One solution to your accounting requirements</p>
      <footer><a class="btn" href="/land"> View All Properties</a></footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <section id="introblocks">
      <div class="sectiontitle">
        <h6 class="heading">Managing business has never been easier</h6>
        <p>Here is what Farm Bills offers all entrepreneurs manage their business flawlessly</p>
      </div>
      <ul class="nospace group">
        <li class="one_third first">
          <article><a href="#"><i class="fa fa-industry"></i></a>
            <h6 class="heading">Organise Your Property</h6>
            <p> Store required information regarding your properties from all across the world, in one place, made just for you, without hesistation. 
               </p>
            <footer><a class="btn" href="/land">View All Properties</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article><a href="#"><i class="fa fa-user-circle"></i></a>
            <h6 class="heading"> Manage your Employees</h6>
            <p> Keep a tab on the daily activity of your workers, update their per day wages and store all required details : all at one place</p>
            <footer><a class="btn" href="/worker">View All Employees</a></footer>
          </article>
          </article>
        </li>
        <li class="one_third">
          <article><a href="#"><i class="fa fa-dollar-sign"></i></a>
            <h6 class="heading">Track Your Expenses</h6>
            <p> No business can function without money, and tracking expenses is a crucial part of managing your projects. Do it all here, seamlessly</p>
            <footer><a class="btn" href="/bill">View All Transactions</a></footer>
          </article>
          </article>
        </li>
      </ul>
    </section>
    <!-- ################################################################################################ -->
    <hr class="btmspace-80">
    <!-- ################################################################################################ -->
    <!-- <section>
      <div class="sectiontitle">
        <h6 class="heading">Metus vestibulum fermentum</h6>
        <p>Neque vel malesuada ultrices mi est vulputate ex sit amet</p>
      </div>
      <ul class="nospace group overview">
        <li class="one_third">
          <figure><a href="#"><img src="/images/demo/348x261.png" alt=""></a>
            <figcaption>
              <h6 class="heading">Posuere nisl lorem</h6>
              <p>Nisi egestas nunc nibh urna molestie in gravida vel tincidunt.</p>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a href="#"><img src="images/demo/348x261.png" alt=""></a>
            <figcaption>
              <h6 class="heading">Curabitur vestibulum</h6>
              <p>Id metus aliquam id fringilla dui duis scelerisque sed mi.</p>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a href="#"><img src="images/demo/348x261.png" alt=""></a>
            <figcaption>
              <h6 class="heading">Hendrerit leo vestibulum</h6>
              <p>Sed varius sed ex eros accumsan eget nisl a laoreet porta.</p>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a href="#"><img src="images/demo/348x261.png" alt=""></a>
            <figcaption>
              <h6 class="heading">Euismod urna sed</h6>
              <p>Urna vestibulum suscipit lacus quis odio vestibulum venenatis.</p>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a href="#"><img src="images/demo/348x261.png" alt=""></a>
            <figcaption>
              <h6 class="heading">Tincidunt a posuere</h6>
              <p>Phasellus vel hendrerit lorem sed tristique lacus in auctor.</p>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a href="#"><img src="images/demo/348x261.png" alt=""></a>
            <figcaption>
              <h6 class="heading">Posuere elit vel</h6>
              <p>Euismod libero sodales ut cum sociis natoque penatibus et magnis.</p>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>
   ################################################################################################ -->
    <!-- / main body 
    <div class="clear"></div>
  </main> -->
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ######################################################################################### --> -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->



<%- include("../partials/footer.ejs") %>